.App {
  height: 1000px;
  width: 1000px;
  text-align: center;
  display: grid;
  grid-template-rows: 10% repeat(4, 1fr) 10%;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 auto;
}

li {
  list-style: none;
  display: inline-block;
  padding: 5px;
}

.header {
  grid-column: 1;
  grid-row: 1;
}

footer {
  grid-column: 1;
  grid-row: 6;
}

.search {
  margin: 0 auto;
}

.gifs {
  grid-column-start: 1 / span 4;
  grid-row: 2 / span 5;
  align-items: center;
  margin: 0 auto;
  height: 1200px;
  width: 1200px;
  margin-left: -50px;
  padding-right: 50px;
}

.search-result {
  margin: 0 auto;
  height: 400px;
  width: 400px;
}